<button class='logout-btn' (click)="open(content)">Logout</button>

<ng-template #content let-modal>
    <div class="modal-body p-5">
        <h3 class="text-center" [style]="{fontSize: '24px'}">Are you Sure want to Logout ?</h3>
        <div class="d-flex justify-content-center my-4">
            <button class="btn btn-outline-default mx-3" (click)="onCancel()">Cancel</button>
            <button class="btn btn-outline-success mx-3" (click)="onLogout()">Confirm</button>
        </div>
    </div>
</ng-template>