<div class='footer-box'>
    <div class='footer-app-logo-box'>
        <img src="../../assets/IMG/FooterAppLogo.png" alt="app-logo" class='footer-app-logo' />
        <h2 class='footer-app-title'>Tasty Kitchens</h2>
    </div>
    <p class='footer-caption-text'>The only thing we are serious about is food.</p>
    <p class='footer-caption-text'>Contact Us</p>
    <div class='social-media-icons-box'>
        <i class="bi bi-instagram social-media-icon"></i>
        <i class="bi bi-twitter-x social-media-icon"></i>
        <i class="bi bi-facebook social-media-icon"></i>
        <i class="bi bi-whatsapp social-media-icon"></i>
    </div>
</div>