<div class="payment-view">
    <app-header></app-header>
    <div class="payment-responsive-box">
        <!-- PAYMENT SUCCESS VIEW -->
        <div class="payment-container">
            <img src='../../assets/IMG/SuccessTickImg.png' alt="payment success" class="pay-success-img" />
            <h1 class="pay-success-text">Payment Successful</h1>
            <p class="thanks-text">
                Thank you for ordering.<br />
                Your payment is successfully completed.
            </p>
            <button class="go-to-home-btn" (click)="onNavigateHome()">Go To Home Page</button>
        </div>
    </div>
</div>