.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  overflow: hidden;
}

.resp-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: auto;
}
.carousel-box {
  width: 80%;
  height: 290px;
  margin-top: 10px;
  /* border-radius: 10px; */
}
.home-body {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 80%;
}

.popular-rest-text {
  font-family: var(--font);
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #183b56;
  margin: 0;
}

.caption-filter-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.caption {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #64748b;
  margin: 0;
}
.fliter-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 190px;
  margin-top: 15px;
  cursor: pointer;
}

.filter-icon {
  color: #475569;
  font-size: 28px;
  margin: 0;
}

.filter-text {
  margin: 0;
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #475569;
}
.hr-rule {
  border: 2px solid #cbd2d9;
  width: 100%;
}

.sort-option {
  width: 100%;
  height: 40px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #475569;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.selected {
  background: #f1f5f9;
  border-radius: 8px;
}

.selected::after {
  content: "\2713";
  margin-left: 16px;
}

.search-box {
  width: 260px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid gray;
  padding: 0px 8px;
  border-radius: 10px;
  height: 36px;
  align-self: center;
}

.search-input {
  border: 0;
  background-color: transparent;
  outline: none;
  font-size: 16px;
}
.search-icon {
    align-self: center;
}